@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --bordes: #333333;
    --fondo: #191919;
    --texto: #fff;
    --texto2: #000;
}   

header{
    background-color: var(--bordes);
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    top: 0;
    margin-bottom: 100px;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
}

.logo_button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--texto);
    font-size: 20px;
    margin-left: 10px;  
}

.logo{
    display: flex;
    justify-content: left;
    margin-left: 10px;
    height: 50px;
}

.logo h1{
    text-align: center;
    line-height: 50px;
    margin: 0 0 0 5px;
    color: var(--texto);
    font-family: darumadrop one;
}

.menu{
    display: flex;
    margin: 0 auto;
    gap: 10px;
    height: 100%;
    width: fit-content;
}

.menu button{
    justify-items: center;
    background-color: transparent;
    border-style:none;
    cursor: pointer;
    color: var(--texto);
    font-size: 25px;
    font-family: roboto condensed;
    transition: filter 0.3s ease;
}

.menu button:hover{
    filter: brightness(0.7);
    text-decoration: underline;
}

.busqueda{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
}

.busqueda input{
    background-color: var(--fondo);
    color: var(--texto);
    border: none;
    border-radius: 2px;
    padding: 10px;
}

.busqueda input:focus{
    outline: none;
}

.busqueda button{
    background-color: var(--texto);
    color: var(--bordes);
    border: none;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
}